<%- include('_head.ejs') %>

<br/>
<div class="jumbotron">
    <h2 class="bg-primary index-head"><img src='/images/ms-sq.svg' height='90px'/> Future Decoded 2017</h2>
    <hr/>
    <p>
        Welcome to the <i>App Service Deep Dive - What's behind the magic?</i> session<br/>
        This is a simple Node.js Express web app, running in Azure App Services. <br/><br/>
    </p>
    <p>
        <img src='/images/get-started.svg' height='48px' /> &nbsp; 
        <a target='_new' href='https://docs.microsoft.com/en-us/nodejs/azure/?view=azure-node-2.0.0' class="btn btn-primary btn-lg">Learn about Node.js &amp; Azure</a>
    </p>
    <br/>
    <p>Microsoft <i class="fa fa-heart"></i> Open Source</p>
</div>

<%- include('_foot.ejs') %>