<%- include('_head.ejs') %>

<br/>
<div class="jumbotron">
    <h2 class="bg-primary index-head"><img src='/images/face.gif' height='90px'/> Future Decoded 2017 <img src='/images/face.gif' height='90px'/></h2>
    <img src='/images/bar.gif' width="100%"/>
    <p>
        Welcome to the <i>App Service Deep Dive - What's behind the magic?</i> session<br/>
        This is a simple Node.js Express web app, running in Azure App Services. <br/><br/>
    </p>
    <p>
        <img src='/images/ie.gif' height='90px'/>
    </p>
    <br/>
    <p>Microsoft <i class="fa fa-heart"></i> Open Source</p>
</div>

<%- include('_foot.ejs') %>