<%- include('_head_p.ejs') %>

<br/>
<div class="jumbotron">
    <h2 class="bg-primary index-head"><img src='https://d30y9cdsu7xlg0.cloudfront.net/png/601078-200.png' height='90px'/> 'PUT TEXT HERE'</h2>
    <hr/>
    <p>
        Blah blah placeholder, change me
    </p>
</div>

<%- include('_foot.ejs') %>